Repository google-deepmind/formal-conjectures, pull requests merged in 2025-09, with the labels that each got.

#462 Erdős Problem 269
  FormalConjectures/ErdosProblems/269.lean
Labels: Erdős Problems

#538 Erdős Problem 944
  FormalConjectures/ErdosProblems/944.lean
  FormalConjectures/ForMathlib/Combinatorics/SimpleGraph/Coloring.lean
  FormalConjectures/Util/ForMathlib.lean
Labels: Erdős Problems

#551 Wikipedia: Snake in the box
  FormalConjectures/Wikipedia/SnakeInTheBox.lean
Labels: Wikipedia

#591 Feat: add formalisation of Erdős Problem 358 and variants
  FormalConjectures/ErdosProblems/358.lean
Labels: Erdős Problems

#623 chore: fix formalisation of Artin's conjecture
  FormalConjectures/Wikipedia/ArtinPrimitiveRootsConjecture.lean
Labels: WIP, misformalization

#590 feat: Erdős Problem 361
  FormalConjectures/ErdosProblems/361.lean
Labels: Erdős Problems

#636 feat: Erdős Problem 354
  FormalConjectures/ErdosProblems/354.lean
Labels: Erdős Problems, WIP

#353 feat: pillai's conjecture
  FormalConjectures/Wikipedia/Catalan.lean
Labels: Awaiting author

#617 Erdős Problem 985
  FormalConjectures/ErdosProblems/985.lean
Labels: Erdős Problems

#666 Erdős Problem 470
  FormalConjectures/ErdosProblems/218.lean
  FormalConjectures/ErdosProblems/233.lean
  FormalConjectures/ErdosProblems/470.lean
  FormalConjectures/ForMathlib/NumberTheory/PrimeGap.lean
  FormalConjectures/Util/ForMathlib.lean
Labels: Erdős Problems

#668 Erdős Problem 6
  FormalConjectures/ErdosProblems/6.lean
Labels: Erdős Problems

#621 Erdős Problem 74
  FormalConjectures/ErdosProblems/74.lean
Labels: Erdős Problems

#683 Erdős Problem 893
  FormalConjectures/ErdosProblems/893.lean
Labels: Erdős Problems

#638 Add Erdős 107
  AUTHORS
  FormalConjectures/ErdosProblems/107.lean
  FormalConjectures/ErdosProblems/213.lean
  FormalConjectures/ErdosProblems/846.lean
  FormalConjectures/ForMathlib/Geometry/2d.lean
  FormalConjectures/Wikipedia/HappyEndingProblem.lean
Labels: Erdős Problems, Awaiting author

#663 Erdős Problem 138
  FormalConjectures/ErdosProblems/138.lean
  FormalConjectures/ForMathlib/Combinatorics/AP/Basic.lean
Labels: Erdős Problems
