Repository google-deepmind/formal-conjectures, pull requests merged in 2025-06, with the labels that each got.

#130 chore: fix statement of erdos 316
  FormalConjectures/ErdosProblems/316.lean
Labels: ams-05: Combinatorics, ams-11: Number theory, category: research (solved), Erdős Problems, misformalization

#107 add erdos 325
  FormalConjectures/ErdosProblems/325.lean
Labels: ams-11: Number theory, category: research (open), category: research (solved), Erdős Problems

#30 feat: add formalization of Erdos 488
  FormalConjectures/ErdosProblems/488.lean
Labels: ams-05: Combinatorics, ams-11: Number theory, category: research (solved), Erdős Problems

#108 add erdos 289
  FormalConjectures/ErdosProblems/289.lean
Labels: ams-11: Number theory, category: research (open), Erdős Problems

#62 feat(Erdos/326): add Erdos 326 and abstract some API to ForMathlib
  FormalConjectures/ErdosProblems/326.lean
  FormalConjectures/ErdosProblems/868.lean
  FormalConjectures/ForMathlib/Combinatorics/Additive/Basis.lean
  FormalConjectures/ForMathlib/Order/Filter/Cofinite.lean
  FormalConjectures/Util/ForMathlib.lean
Labels: ams-05: Combinatorics, ams-11: Number theory, category: research (open), category: research (solved), Erdős Problems

#157 chore: more suggestive name for Riemann Zeta file
  FormalConjectures/Wikipedia/RiemannZetaValues.lean
Labels: Wikipedia

#97 Add Lehmer's Mahler measure problem
  FormalConjectures/Wikipedia/LehmerMahlerMeasureProblem.lean
Labels: ams-11: Number theory, category: research (open), Wikipedia

#117 Formalize Kaplansky's conjectures
  FormalConjectures/Wikipedia/Kaplansky.lean
Labels: Awaiting author

#245 Erdős Problem 645
  FormalConjectures/ErdosProblems/645.lean
Labels: Erdős Problems

#132 Add Kakeya problem
  AUTHORS
  FormalConjectures/Wikipedia/Kakeya.lean
Labels: Awaiting author

#165 feat: add Erdos 541
  FormalConjectures/ErdosProblems/541.lean
Labels: ams-11: Number theory, category: research (solved), Erdős Problems

#266 Link documentation in README.md
  README.md
Labels: documentation

#269 integer complexity of 2^n
  FormalConjectures/Mathoverflow/75792.lean
Labels: mathoverflow

#265 Sum of three cubes
  FormalConjectures/Mathoverflow/100324.lean
Labels: mathoverflow
