Repository google-deepmind/formal-conjectures, pull requests merged in 2025-07, with the labels that each got.

#251 Beaver Math Olympiad problems
  AUTHORS
  FormalConjectures/Other/BeaverMathOlympiad.lean
  FormalConjectures/Other/BusyBeaverAntihydra.lean
Labels: Awaiting author

#349 fix: definition of `Polynomial.HasOddCoeffs`
  FormalConjectures/Wikipedia/LehmerMahlerMeasureProblem.lean
Labels: misformalization

#315 feat: add Hadwiger-Nelson problem
  FormalConjectures/Wikipedia/HadwigerNelson.lean
  README.md
Labels: ams-52: Convex and discrete geometry

#354 feat: formalize Erdos Problem 689
  FormalConjectures/ErdosProblems/689.lean
Labels: ams-11: Number theory, Erdős Problems

#385 fix: typing in `erdos_245` to `EReal`.
  FormalConjectures/ErdosProblems/245.lean
Labels: misformalization

#387 fix: maximality in `168.lean`
  FormalConjectures/ErdosProblems/168.lean
Labels: misformalization

#446 Erdős Problem 259
  FormalConjectures/ErdosProblems/259.lean
Labels: Erdős Problems

#432 Erdős Problem 128
  FormalConjectures/ErdosProblems/128.lean
Labels: Erdős Problems

#352 Feat: add formal statement for Erdos 416
  FormalConjectures/ErdosProblems/416.lean
Labels: ams-11: Number theory, Erdős Problems

#489 Erdős Problem 324
  FormalConjectures/ErdosProblems/324.lean
Labels: ams-11: Number theory, Erdős Problems

#515 fix definition of `IsGiuga`
  FormalConjectures/Wikipedia/AgohGiuga.lean
Labels: misformalization
