Repository google-deepmind/formal-conjectures, pull requests merged in 2025-08, with the labels that each got.

#517 Fix Erdős 56
  FormalConjectures/ErdosProblems/56.lean
Labels: Erdős Problems, misformalization

#521 Erdős problem 137
  FormalConjectures/ErdosProblems/137.lean
Labels: Erdős Problems

#123 feat: union-closed sets conjecture
  FormalConjectures/Wikipedia/UnionClosed.lean
Labels: ams-05: Combinatorics, category: research (open), category: research (solved), Wikipedia

#537 Erdős Problem 943
  FormalConjectures/ErdosProblems/943.lean
  FormalConjectures/ForMathlib/Data/Nat/Full.lean
Labels: Erdős Problems

#550 feat: Add formalisation of Mahler's 3/2 problem
  FormalConjectures/Wikipedia/Mahler32.lean
Labels: ams-11: Number theory, Wikipedia

#561 fix: add condition that type is non-empty
  FormalConjectures/Wikipedia/UnionClosed.lean
Labels: misformalization

#565 fix: `error_le` is not true for `r` close to `0`
  FormalConjectures/Wikipedia/GaussCircleProblem.lean
Labels: misformalization

#558 Erdős Problem 30
  FormalConjectures/ErdosProblems/30.lean
  FormalConjectures/ErdosProblems/44.lean
  FormalConjectures/ForMathlib/Combinatorics/Basic.lean
Labels: Erdős Problems

#556 Erdős Problem 3
  FormalConjectures/ErdosProblems/3.lean
Labels: Erdős Problems

#574 fix: `k` should be non-zero in `conjecture_3_4`
  FormalConjectures/Arxiv/1506.05785/MaximumAngle.lean
Labels: misformalization

#547 feat: formalise erdos_347
  FormalConjectures/ErdosProblems/347.lean
Labels: ams-11: Number theory, Erdős Problems

#528 Erdős Problems 939
  FormalConjectures/ErdosProblems/366.lean
  FormalConjectures/ErdosProblems/939.lean
  FormalConjectures/ForMathlib/Data/Nat/Full.lean
  FormalConjectures/ForMathlib/Data/Nat/Prime/Finset.lean
  FormalConjectures/Util/ForMathlib.lean
Labels: Erdős Problems

#595 Erdős Problem 203
  FormalConjectures/ErdosProblems/203.lean
Labels: Erdős Problems

#523 Erdős Problems 938
  FormalConjectures/ErdosProblems/938.lean
Labels: Erdős Problems

#580 Erdős Problem 39
  FormalConjectures/ErdosProblems/39.lean
Labels: Erdős Problems

#582 add `erdos_340`
  FormalConjectures/ErdosProblems/340.lean
  FormalConjectures/ForMathlib/Combinatorics/Basic.lean
Labels: ams-05: Combinatorics, Erdős Problems

#610 Erdős Problem 155
  FormalConjectures/ErdosProblems/155.lean
Labels: Erdős Problems

#413 Erdős Problem 160
  FormalConjectures/ErdosProblems/160.lean
Labels: Erdős Problems

#529 Erdős Problem 940
  FormalConjectures/ErdosProblems/940.lean
Labels: Erdős Problems
