Repository google-deepmind/formal-conjectures, pull requests merged in 2025-05, with the labels that each got.

#95 add disclaimer about linking to GitHub search
  docbuild/scripts/overwrite_index.lean
Labels: documentation

#89 MO question: right local semirings
  AUTHORS
  FormalConjectures/Mathoverflow/486451.lean
Labels: ams-16: Associative rings and algebras, mathoverflow

#77 feat: formalize erdos 499
  AUTHORS
  FormalConjectures/ErdosProblems/499.lean
Labels: ams-15: Linear algebra, category: research (solved), Erdős Problems

#91 feat: formalise Lehmer totient
  FormalConjectures/Wikipedia/LehmerTotient.lean
Labels: ams-11: Number theory, Wikipedia

#124 add MO 21003
  FormalConjectures/Mathoverflow/21003.lean
Labels: ams-12: Field theory and polynomials, category: research (open), mathoverflow
